services:
  ros:
    build: .
    image: dev:humble
    environment:
      # Pass host uid/gid so created user matches and file perms work on host
      - LOCAL_UID=${UID}
      - LOCAL_GID=${GID}
      - LOCAL_USER=rosdev
      - ROS_DOMAIN_ID=${ROS_DOMAIN_ID:-42}
      - RMW_IMPLEMENTATION=rmw_fastrtps_cpp
      - ROS_LOCALHOST_ONLY=0
      # X11
      - DISPLAY=${DISPLAY}
      - QT_X11_NO_MITSHM=1

      # ROS discovery
      - ROS_DOMAIN_ID=${ROS_DOMAIN_ID:-0}

    volumes:
      - ./:/workspace:rw
      - /tmp/.X11-unix:/tmp/.X11-unix:rw

    network_mode: "host"
    working_dir: /workspace
    tty: true
    stdin_open: true

